@keyframes slideInLeft {
  from {
    transform: translateX(950px);
  }

  to {
    transform: translateX(0);
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fbfef9;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.logo {
  position: absolute;
  top: -5.1rem;
  left: -2.6rem;
}

.logo img {
  width: 45%;
}

.log-in-section {
  width: 60%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.log-in-section h1 {
  font-size: 4.1rem;
  line-height: 5.5rem;
  margin-bottom: 2rem;
}

.heading-1 {
  animation: slideInLeft 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  margin-left: .3rem;
}

.log-in-section p {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  animation: slideInLeft 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) .1s both;
  margin-left: .3rem;
}

.log-in-section form {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 2rem 0;
  column-gap: 5rem;
  animation: slideInLeft 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s both;
  margin-left: .3rem;
}

.log-in-section input {
  padding: 0.8rem 0.8rem;
  background-color: transparent;
  border: 1px solid #ccc;
  min-width: 50%;
}

.log-in-section input:focus {
  outline: 2px solid #243E36;
}

.log-in-section button {
  padding: 0.8rem;
  width: 100%;
  background-color: #243E36;
  color: white;
  cursor: pointer;
}

@keyframes popUp {
  0% {
    transform: scale(.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.graphics-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 40%;
  height: 100vh;
  min-width: 450px;
  margin-right: 5rem;
}

.curve-graphics {
  position: relative;
  width: 80%;
  margin-left: 12.5rem;
  margin-right: 6rem;
}

#animation-container {
  transform: rotate(-15deg);
}

.face-img {
  position: absolute;
  top: 50%;
  left: -20%;
  width: 39%;
  animation: popUp 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both 1s;
}

.glasses-img {
  position: absolute;
  width: 39%;
  right: 3rem;
  top: 3rem;
  animation: popUp 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both 1s;
}

.graphics-section p {
  margin-left: 5rem;
  animation: popUp 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both 1s;
}

#animation-container-arrow {
  display: none;
  animation: popUp 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both 1s;
}

@media screen and (max-width: 1130px) {
  .log-in-section h1 {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}

@media screen and (max-width: 814px) {
  .log-in-section h1 {
    font-size: 2.3rem;
    line-height: 3rem;
    margin-bottom: .9rem;
  }

  .log-in-section p {
    font-size: .7rem;
    margin-bottom: 0;
  }

  .log-in-section {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: -7rem;
  }

  .log-in-section form {
    width: 93%;
    gap: 2rem;
    margin: 2rem 0;
    column-gap: 2.5rem;
  }

  .log-in-section input {
    min-width: 60%;
    font-size: .7rem;
  }

  .log-in-section button {
    font-size: .7rem;
  }

  .graphics-section {
    width: 30%;
    min-width: 360px;
    margin-left: 1rem;
  }

  .graphics-section p {
    margin: 0;
    width: 90%;
    font-size: .7rem;
  }

  .curve-graphics {
    width: 70%;
    margin-left: 5rem;
  }

  .face-img {
    top: 11rem;
    left: -2.5rem;
    width: 30%;
  }

  .glasses-img {
    width: 30%;
    right: 3rem;
    top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .logo {
    position: absolute;
    margin-left: 2px;
    margin-top: 2px;
    top: -4.5rem;
    left: -2.6rem;
  }

  .graphics-section {
    width: 100%;
    min-width: 0px;
    margin-left: 0rem;
    height: 100dvh;
  }

  .curve-graphics {
    width: 80%;
    left: 5%;
    margin-top: 5rem;
  }

  .face-img {
    top: 11rem;
    left: -2.5rem;
    width: 30%;
  }

  .glasses-img {
    width: 30%;
    right: 3rem;
    top: 2rem;
  }

  .graphics-section p {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  #animation-container-arrow {
    display: inline-block;
    position: absolute;
    width: 15%;
    bottom: .5rem;
  }

  .log-in-section {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: start;
    padding-right: 0;
    padding-left: 0;
    align-items: center;
    animation: none;
    overflow-y: visible;
  }

  .heading-1 {
    animation: none;
    margin-left: .3rem;
  }

  .log-in-section h1 {
    font-size: 2rem;
    line-height: 2.9rem;
    margin-top: 6rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;

  }

  .log-in-section p {
    font-size: .699rem;
    margin-bottom: 3rem;
    animation: none;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .log-in-section form {
    display: grid;
    width: 70%;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin: 0rem 0;
    column-gap: 5rem;
    animation: none;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .log-in-section input {
    padding: 0.8rem 0.8rem;
    background-color: transparent;
    border: 1px solid #ccc;
    min-width: 50%;
  }

  .log-in-section button {
    padding: 0.8rem;
    width: 100%;
    background-color: #243E36;
    color: white;
    cursor: pointer;
    margin-bottom: 1.5rem;
  }
}